<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shouts.Storage.MongoConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shouts.Storage.MongoConnection" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shouts.Storage.MongoConnectionSettings>
            <setting name="connectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>shouts</value>
            </setting>
        </Shouts.Storage.MongoConnectionSettings>
    </userSettings>
    <applicationSettings>
        <Shouts.Storage.MongoConnection>
            <setting name="connectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>shouts</value>
            </setting>
        </Shouts.Storage.MongoConnection>
    </applicationSettings>
</configuration>